.kanban-board {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90vh;
}

@media (min-height: 100vh) {
    .container {
      height: 100%; /* Utilise 100% lorsque la hauteur dépasse 100vh */
    }
}

.group_tab {
    display: flex;
    flex-direction: column;
}

.scroller {
    overflow: scroll;
    height: 75vh;
    display: flex;
    flex-direction: column;
}

.home-bg {
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
    padding: 5%;
}
