.tab-name {
    width: 100%;
    background-color: transparent ! important;
    border: none ! important;
    font-family: "Courier New", monospace ! important;
    font-size: large ! important;
}
.tab-name:hover {
    background-color: #47414180 ! important;
}

.tab-parent {
    height: 70vh;
    /* display: flex; */
    /* align-items: center; */
    /* background-color: #46cdd4; */
    background: 
    linear-gradient(269deg, rgba(123,127,46,0.1), rgba(151,101,35,0.8));
    width: 100%;
    padding: 5%;
    border-radius: 15px;
}

.tab-bg-parent {
    height: 90%;
    width: 100%;
    padding: 4%;
}

.tab-bg {
    width: 90%;
    height: 90%;
    padding: 1px;
    background-color: rgba(96, 185, 13, 0.575);
}