.tab-name {
    width: 100%;
    margin-bottom: 10px;
    background-color: transparent ! important;
    border: none ! important;
}
.tab-name:hover {
    background-color: #47414180 ! important;
    /* color: #fff; */
}

.tab-bg-parent {
    border-radius: 5%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    height: 100%;
    margin: 5%;
    padding: 4%;
    background-color: #b105b1;
}

.tab-bg {
    width: 90%;
    height: 90%;
    padding: 1px;
    background-color: rgba(96, 185, 13, 0.575);
}