.task-create {
    width: 100%;
    margin-bottom: 10px;
    background-color: #b62a2a80;
    font-family: "Courier New", monospace ! important;
}

.task-create:hover {
    background-color: #47414180 ! important;
    font-family: "Courier New", monospace;
}

.task-name {
    width: 100%;
    font-family: "Courier New", monospace;
}

.task-name:hover {
    background-color: #47414180 ! important;
}

.task-modal-name {
    font-family: "Courier New", monospace;
    border: none;
    font-size: large;
    margin-bottom: 10%;
}

.task-modal-name:hover {
    border-radius: 5px;
    background-color: #47414180;
}

.task-modal-name:focus {
    outline: none;
}

.task-input {
    resize: none;
}

.task-date-tab {
    font-size: large;
    margin-top: 5%;
    margin-bottom: 5%;
}

.task-date {
}